<section id="project_parallax-timeline" class="header">
    <div class="well" style="background-position: 50% 10px;">
        <div id="overlay3">
            <div class="container">
                <div class="col-md-12">
                    <h1 class="heavy white">creatures. of. code.</h1>
                    <h1 class="lead white x-light">
                        Welcome!  Pull up a chair, take off yer shoes, and don't let my creatures <strong><em>byte</em></strong> you.
                    </h1>
                </div>
            </div>
            <div class="pad45"></div>
        </div>
    </div>
</section>



<div class="container pad45">
    <div class="col-sm-4 col-md-4">
        <h5>Our Mission</h5>
        <p>
            Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu  eiusmod tempor incididunt commodo enim dui ac nisl.
            Morbi euismod ante quis tellus imperdiet porta.
        </p>
        <h6>Here's A Useful List</h6>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check light-grey"></i> Responsive Design</li>
            <li><i class="fa-li fa fa-check light-grey"></i> One font, 249 icons</li>
            <li><i class="fa-li fa fa-check light-grey"></i> Powerful front-end framework</li>
            <li><i class="fa-li fa fa-check light-grey"></i> Built with Twitter Bootstrap</li>
        </ul>
    </div>

    <!-- COL2 -->
    <div class="col-sm-8 col-md-8">
        <h4>Our Philosophy</h4>
        <h6>Lorem ipsum dolor sit amet, rebum putant recusabo in ius, pri simul tempor ne, his virtute.</h6>
        <p>
            <img class="pull-right" src="/Images/small/tv.png" alt="" />
            Nam ea labitur pericula. Meis tamquam pro te, cibo mutat necessitatibus id vim.
            An his tamquam postulant, pri id mazim nostrud diceret sapientem eloquentiam sea cu, sea ut exerci delicata.
        </p>

        <p>
            Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra. Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus sed do.
            Hover here to see a Tooltip eiusmod tempor incididunt ut labore et dolore magna aliqua. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra  incididunt ut labore suspendisse.
        </p>
        <div class="pad30"></div>
    </div>
</div>
<!-- //end container -->