    @{
    ViewBag.Title = "Index";
}

<link href="/Content/mediaBoxes.css" rel="stylesheet" />

<div class="container pad60">
    <div class="col-md-12">
        <div id="grid">

            <!-- 1 -->
            <div class="box" data-category="Category 1">
                <div class="box-image">
                    <div data-thumbnail="img/blog/thumbs/one.jpg"></div>
                    <div data-image="img/blog/3.jpg"></div>

                    <div class="thumbnail-caption">
                        <div class="hover-lightbox open-lightbox-iframe"></div>
                        <a href="#"><div class="hover-url"></div></a>
                    </div>
                    <div class="lightbox-text">
                        Varanasi <span>In Category 1</span>
                    </div>
                </div>
                <div class="box-caption">
                    <div class="box-title">Varanasi</div>
                    <div class="box-date">February 28, 2014</div>
                    <div class="box-text">
                        Lorem ipsum dolor sit amet psico dell consecteture adipisicing elite.
                    </div>
                    <div class="box-more"> <a href="#">Read More</a> </div>
                </div>
            </div>

            <!-- 2 -->
            <div class="box" data-category="Category 2">
                <div class="box-image open-lightbox-iframe">
                    <div data-thumbnail="http://img.youtube.com/vi/5guMumPFBag/0.jpg"></div>

                    <div class="open-lightbox-iframe" width="100%" height="100%" src="//www.youtube.com/embed/5guMumPFBag?HD=1;autoplay=1;rel=0;showinfo=0" frameborder="0" allowfullscreen></div>

                    <div class="thumbnail-caption">
                        <div class="hover-iframe open-lightbox-iframe"></div>
                        <a href="#"><div class="hover-url"></div></a>
                    </div>
                    <div class="lightbox-text">
                        Pacific Rim <span>In Youtube</span>
                    </div>
                </div>
                <div class="box-caption">
                    <div class="box-title">Pacific Rim</div>
                    <div class="box-date">February 24, 2014</div>
                    <div class="box-text">
                        Lorem ipsum dolor sit amet psico dell consecteture adipisicing elite.
                    </div>
                    <div class="box-more"> <a href="#">Read More</a> </div>
                </div>
            </div>

            <!-- 3 -->
            <div class="box" data-category="Category 3">
                <div class="box-image">
                    <div data-thumbnail="img/blog/thumbs/two.jpg"></div>
                    <div data-image="img/blog/two.jpg"></div>

                    <div class="thumbnail-caption">
                        <div class="hover-lightbox open-lightbox"></div>
                        <a href="#"><div class="hover-url"></div></a>
                    </div>

                    <div class="lightbox-text">
                        Party <span>In Category 3</span>
                    </div>
                </div>

                <div class="box-caption">
                    <div class="box-title">Party</div>
                    <div class="box-date">February 18, 2014</div>
                    <div class="box-text">
                        Lorem ipsum dolor sit amet psico dell consecteture adipisicing elite.
                    </div>
                    <div class="box-more"> <a href="#">Read More</a> </div>
                </div>
            </div>

            <!-- 4 -->
            <div class="box" data-category="Category 1">
                <div class="box-image open-lightbox-iframe box-video">
                    <div data-thumbnail="http://img.youtube.com/vi/JuyB7NO0EYY/0.jpg"></div>
                    <div class="lightbox-iframe" width="100%" height="100%" src="//www.youtube.com/embed/JuyB7NO0EYY?HD=1;autoplay=1;rel=0;showinfo=0" frameborder="0" allowfullscreen></div>
                    <div class="lightbox-text">Brain Divided</div>
                </div>

                <div class="box-caption">
                    <div class="box-title">Brain Divided</div>
                    <div class="box-date">February 10, 2014</div>
                    <div class="box-text">
                        Lorem ipsum dolor sit amet psico dell consecteture adipisicing elite.
                    </div>
                    <div class="box-more"> <a href="#">Read More</a> </div>
                </div>
            </div>

            <!-- 5 -->
            <div class="box" data-category="Category 2">
                <div class="box-image">
                    <div data-thumbnail="img/blog/thumbs/three.jpg"></div>
                    <div data-image="img/blog/three.jpg"></div>

                    <div class="thumbnail-caption">
                        <div class="hover-lightbox open-lightbox"></div>
                        <a href="#"><div class="hover-url"></div></a>
                    </div>

                    <div class="lightbox-text">
                        Bright Ideas <span>In Category 2</span>
                    </div>
                </div>

                <div class="box-caption">
                    <div class="box-title">Bright Ideas</div>
                    <div class="box-date">February 6, 2014</div>
                    <div class="box-text">
                        Lorem ipsum dolor sit amet psico dell consecteture adipisicing elite.
                    </div>
                    <div class="box-more"> <a href="#">Read More</a> </div>
                </div>
            </div>

            <!-- 6-->
            <div class="box" data-category="Category 3">
                <div class="box-image open-lightbox-iframe box-video">
                    <div data-thumbnail="http://img.youtube.com/vi/vmfC7VY5Ods/0.jpg"></div>
                    <div class="lightbox-iframe" width="100%" height="100%" src="//www.youtube.com/embed/vmfC7VY5Ods?HD=1;autoplay=1;rel=0;showinfo=0" frameborder="0" allowfullscreen></div>
                    <div class="lightbox-text">This Way Up</div>
                </div>

                <div class="box-caption">
                    <div class="box-title">This Way Up</div>
                    <div class="box-date">February 4, 20134</div>
                    <div class="box-text">
                        Lorem ipsum dolor sit amet psico dell consecteture adipisicing elite.
                    </div>
                    <div class="box-more"> <a href="#">Read More</a> </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="/Scripts/rotate-patch.js"></script>
<script src="/Scripts/waypoints.min.js"></script>
<script src="/Scripts/mediaBoxes.min.js"></script>

<script>
	  //<![CDATA[
	    $('document').ready(function(){
	       $('#grid').mediaBoxes({
				theme : 'theme3',
	        });
		});
	    //]]>
</script>